@model Net_Mvc_Workshop1.Models.BOOK_DATA

@{
    /**/

    ViewBag.Title = "Index";
}

<h2>圖書維護</h2>

@using (Html.BeginForm("Search", "Home"))
{
    <table class="table">
        <tr>
            <th>
                書名
            </th>
            <td>
                @Html.EditorFor(model => model.BOOK_NAME, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <th>
                圖書類別
            </th>
            <td>
                @Html.DropDownList("BOOK_CLASS_ID", null, htmlAttributes: new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>
                借閱人
            </th>
            <td>
                @Html.DropDownList("BOOK_KEEPER", null, htmlAttributes: new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>
                借閱狀態
            </th>
            <td>
                @Html.DropDownList("BOOK_STATUS", null, htmlAttributes: new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>
            </th>
            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="查詢" class="btn btn-default" />
                        <input type="reset" value="清除" class="btn btn-default" />
                        @Html.ActionLink("新增", "Create", new { @class = "btn btn-default" })
                    </div>
                </div>
            </td>
        </tr>



    </table>
    
}
